/*
* This configuration file is main one. This includes the pipeline parameters and differend config files, one for each profile.
* You can switch among them using the Nextflow parameter -profile <<PROFILENAME>>
* 
* This example config was copied from the Elixir Tutorial https://github.com/nextflow-io/elixir-workshop-21/tree/master
*/

// include the pipeline parameters from this file
includeConfig "$projectDir/params.config"


workDir = "./work"
scratch = "./"

process {

    withName: FASTQC {
        conda = "$projectDir/conda/fastqc.yml"
    }
    withName: FASTQ_DL {
        conda = "$projectDir/conda/fastq_dl.yml"
        maxForks = 3

    }
    withName: FIND_ADAPTERS {
        conda = "$projectDir/conda/base.yml"
    }
    withName: CUTADAPT {
        conda = "$projectDir/conda/cutadapt.yml"
    }
    withName: COLLAPSE_FASTQ {
        conda = "$projectDir/conda/base.yml"
    }
}

conda.enabled = true

// define different profiles
profiles {
    singularity {
        enabled = true
        cacheDir = './singularity'
        process.container = "$projectDir/singularity/pipeline"
    }
    docker {
        enabled = true
        process.container = 'pipeline-image:latest'
    }
    conda {
        enabled = true
    }

    standard {
   	    includeConfig 'config/standard.config'
    }
    hpc_slurm {
        includeConfig 'config/slurm.config'
    } 
    lsf {
        includeConfig 'config/lsf.config'
    }
}