/*
* This configuration file is main one. This includes the pipeline parameters and differend config files, one for each profile.
* You can switch among them using the Nextflow parameter -profile <<PROFILENAME>>
* 
* This example config was copied from the Elixir Tutorial https://github.com/nextflow-io/elixir-workshop-21/tree/master
*/

// include the pipeline parameters from this file
includeConfig "$projectDir/params.config"


workDir = "./work"
scratch = "./"

process {
    // indicates the default container to be used if not defined within the modules

    //======= conda =======
    // conda = 'conda/example.yml'

    // or if you want to define it directly here 

    // conda = {
    //    name 'example'
    //    channels 'conda-forge' 'bioconda' 'defaults'
    //    dependencies 'biopython'
    // }
    //======== end ========

    //======= docker =======
    // Using a local image:
    //  container = 'pipeline-image:latest'

    // or a image from docker hub:
    //  container = 'docker://username/pipeline-image:latest'
    //======== end =========

    //======= singularity =======
      container = '$projectDir/singularity/pipeline'

    // or:
    // container = 'singularity://quay.io/username/singularity-image:latest'
    //======== end =========

    // You can also specify for specific processes by name 
    withName: EXAMPLE:
    //  container = 'singularity://quay.io/username/singularity-image:latest'
        cpus = 4
        memory = '15GB'

    withName: FASTQC {
        container = "$projectDir/singularity/pipeline"

    }

    //withName: EXAMPLE2:
    //container = './singularity/ete3'
    
}

// indicates where to write the singularity images if you choose to use this container


// define different profiles
profiles {
    singularity {
        enabled = true
        cacheDir = './singularity'
        process.container = "$projectDir/singularity/pipeline"
    }
    docker {
        enabled = true
        process.container = 'pipeline-image:latest'
    }
    conda {
        enabled = true
        process.conda = "$projectDir/conda/example.yml"
    }

    standard {
   	    includeConfig 'config/standard.config'
    }
    hpc_slurm {
        includeConfig 'config/slurm.config'
    } 
    lsf {
        includeConfig 'config/lsf.config'
    }
}