params {
    outdir = "/data1/Jack/projects/riboseqorg-nf/data/Processed_test"
    star_index = "/data2/Jack/homo_sapiens/STAR_index/genomeDir"
    bowtie_index = "/data1/pipeline/annotations/trips/homo_sapiens/homo_sapiens_transcriptome_bowtie_indices/"
    rRNA_index = "/data2/Jack/homo_sapiens/bowtie_rRNA/"
    gtf = "/data2/Jack/homo_sapiens/Homo_sapiens.GRCh38.108_ensembl.gtf"
    genome_fasta = "/data2/Jack/homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    chrom_sizes_file ="/data2/Jack/homo_sapiens/sizes.genome"
    ribometric_annotation = "/data2/Jack/homo_sapiens/Homo_sapiens.GRCh38.108_ensembl_RiboMetric.tsv"
    annotation_sqlite = "/data1/pipeline/annotations/trips/homo_sapiens/homo_sapiens.Gencode_v25.sqlite"
    mismatches = 3
    alignment_type = "EndToEnd"
    allow_introns = true
    sample_sheet = '/data1/Jack/projects/riboseqorg-nf/data/unprocessed_runs_head_5.csv'
    adapter_list = 'scripts/adapter_list.tsv'
    fetch = true
    force_fetch = false
    collapsed_read_path = '/data2/Jack/RDP-Files/RiboSeqOrg/collapsed_reads'
    collapsed_read_header_pattern = 'seq{id}_x{count}'
    save_star_transcriptome_bam = false
}
