params {
    sample_sheet = "$projectDir/sample_data/example_sample_sheet.csv"
    output_dir = "./data/Agami"
    rRNA_index = "/data2/Jack/homo_sapiens/bowtie_rRNA/bowtie_rRNA"
    genome_index = "/data2/Jack/homo_sapiens/bowtie_genome/bowtie_genome"
    genome_fasta = "/data2/Jack/homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    chrom_sizes_file ="/data2/Jack/homo_sapiens/sizes.genome"
    study_dir = "./data/Agami"
    skip_trips = true
    skip_gwips = false
}