params {
    outdir = "data/Processed"
    star_index = "/data2/Jack/homo_sapiens/STAR_index/genomeDir"
    gtf = "/data2/Jack/homo_sapiens/Homo_sapiens.GRCh38.108_ensembl.gtf"
    genome_fasta = "/data2/Jack/homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    chrom_sizes_file ="/data2/Jack/homo_sapiens/sizes.genome"
    ribometric_annotation = "/data2/Jack/homo_sapiens/Homo_sapiens.GRCh38.108_ensembl_RiboMetric.tsv"
    annotation_sqlite = "/data2/Jack/homo_sapiens/Homo_sapiens.sqlite"
    skip_trips = true
    skip_gwips = false
    mismatches = 3
    trim_front = 0
    max_multimap = 10
    alignment_type = "Local"
    allow_introns = true
    sample_sheet = 'test-data/test-sample-sheet.csv'
    adapter_list = 'scripts/adapter_list.tsv'
    fetch = false
    collapsed_read_path = '/data2/Jack/RDP-Files/RiboSeqOrg/collapsed_reads'
    collapsed_read_header_pattern = 'seq{id}_x{count}'
}