/*
* This configuration file is the one used when indicating the Nextflow parameter -profile hpc_slurm
*/

process { 
      process.executor = 'LSF'

      process.queue = 'production'
      process.cpus = 40
      singularity.enabled = true
      singularity.autoMounts = true
      
      perJobMemLimit = true
      errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
      maxRetries = 3


    // resources for default process execution
    cpus='1'
    time='6h'

    // resources for execution of processes / modules with tag 'high' etc. This override the default ones.
    withTag: 'high' {
        queue = "production-high"
        memory='16G'
        cpus='20'
    }
    withTag: 'medium' {
        queue = "production"
        memory='8G'
        cpus='10'
    }
} 