params {
    // Define minimal params needed for the test
    sample_sheet = 'test-data/test-sample-sheet.csv'
    adapter_list = 'scripts/adapter_list.tsv'
    fetch = true
    collapsed_read_path = '/data2/Jack/RDP-Files/RiboSeqOrg/collapsed_reads'
}

process {
    // This ensures all processes use their stub blocks
    stubRun = true
}

conda.enabled = true

// Disable wave for stub testing
wave {
    enabled = false
    // freeze = true
    // build {
    //     repository = 'docker.io/jackcurragh/test'
    //     cacheRepository = 'docker.io/jackcurragh/test'
    // }

}